<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="container">
      <div class="">
        <div class="card card-statistics text-center">
          <h1 class="title">ESTADÍSTICOS.</h1>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div *ngIf="flagFull" class="chart" style="width: auto; height: auto;">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <h4 class="title" *ngIf="flagFull && !flag">Grafica de preguntas acertadas y preguntas no acertadas.</h4>
                  <h4 class="title" *ngIf="flag">Grafica de preguntas acertadas y preguntas no acertadas en:
                    <b><u>{{languange}}</u></b></h4>
                </div>
                <div class="row">
                  <div class="col">
                    <div ngbDropdown class="d-inline-block dropdown">
                      <a class="btn btn-default" id="dropdownBasic1" ngbDropdownToggle>Idioma</a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-default">
                        <button *ngFor="let language of languages" class="dropdown-item" style="cursor: pointer;"
                          (click)="getLanguageSelected(language)">{{language}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <a href="#" class="btn btn-danger">Ir al traductor</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>